hr {
	margin-top: 0;
	margin-bottom: 0;
	border: 0;
	border-top: 0;
	padding: 0;
}

#products_grid:not(.o_wsale_layout_list) .oe_product_cart {
	flex: 0 0 calc(100% / 2);
	max-width: calc(100% / 2);
}

.oe_website_sale {
	 margin-bottom: 0;
	 margin-top: 0;
}

#wrap.oe_website_sale {
	margin-top: -10px;
}

header:hover {
	background-color:#fff !important;
}

#top_menu {
	margin: auto !important;
}

header .navbar-brand.logo img {
	width: auto;
	height: 5.313rem;
	max-width: none;
}

header .navbar .navbar-collapse .navbar-nav > li.active > a {
	color: #323232 !important; // COLOR MENU
}

.col-lg-4 {
	padding: 0;
}

.o_product_feature_panel {
	visibility: hidden;
}

#products_grid .oe_product_cart:not(.oe_list) .as-product .pro-action .btn {
	margin: 65px 2px;
	margin-top: -60px;
	float: left;
}

body {
	text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	 font-family: "Montserrat";
}

.page-link {
	color: #323232 !important;
}

.page-item.active .page-link {
	border-color: #dee2e6;
}

header .navbar .navbar-collapse .navbar-nav > li > a {
	font-weight: 500;
}

header .navbar .navbar-collapse .navbar-nav > li > a b {
	font-weight: 500;
}

.slider-price-filter {
	//margin-top: 40px;
	//border-top: 1px solid #ddd;
	padding-top: 15px;
}
